html,
#root
.dashboard {
    
}

.dashboard button{
    background-color: var(--button-background-color);
    color: var(--button-text-color);
}

.dashboard p{
    color: var(--text-color);
}

.dashboard {
    min-height: 100vh;
    background-color: var(--background-color);
}

