.dashboard {
    background-color: var(--background-color);
}

button{
    background-color: var(--button-background-color);
    color: var(--button-text-color);
}

p{
    color: var(--text-color);
}

html{
    background-color: var(--background-color);
}

